<section class="page_main_visual">
  <div class="container">
    <div class="title">
      <h1>採用情報</h1>
      <p>- Recruit -</p>
    </div>
  </div>
  <div class="mask"></div>
</section>

<section class="top">
  <img src="/assets/cloud.svg" alt="クラウド画像" />
  <div class="container">
    <p class="heading">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, sit!
    </p>
    <h1>Lorem, ipsum dolor.</h1>
    <p class="text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa iusto
      beatae magnam incidunt pariatur a, reiciendis optio vel dicta suscipit!
      Exercitationem, esse aspernatur dolorum mollitia, illo vero corrupti quasi
      quisquam officiis neque maiores non, animi distinctio dolores asperiores
      unde ipsum.
    </p>
  </div>
</section>

<section class="message">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2>Lorem ipsum dolor sit amet consectetur.</h2>
        <p class="sub_title">Message</p>
        <p class="text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus
          cumque error rem in ad. Dignissimos porro nam alias delectus impedit
          sit quam unde, veritatis illo nihil iste soluta commodi atque
          exercitationem sequi sed minima deserunt id! Voluptate numquam
          consequuntur, quis quae itaque eos deleniti minus eius quam laboriosam
          quos enim delectus labore expedita eligendi error cupiditate
          exercitationem nam facilis doloribus.
        </p>
      </div>
      <div class="col">
        <img
          src="/assets/recruit-message.png"
          alt="採用メッセージ画像"
          width="100%"
        />
      </div>
    </div>
  </div>
</section>

<section class="feature">
  <div class="container">
    <h2>Lorem ipsum dolor sit amet consectetur.</h2>
    <p class="sub_title">Feature</p>
    <div class="row">
      <div class="col">
        <h3>Lorem ipsum dolor sit.</h3>
        <img src="/assets/recruit-feature.png" alt="特徴画像" width="100%" />
        <p class="text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem
          exercitationem ullam saepe, nobis recusandae adipisci necessitatibus
          dignissimos similique illo. Sint doloremque labore ducimus quisquam
          quas voluptatem obcaecati! Beatae aliquam harum, quas rerum tempore
          consequatur esse.
        </p>
      </div>
      <div class="col">
        <h3>Lorem ipsum dolor sit.</h3>
        <img src="/assets/recruit-feature.png" alt="特徴画像" width="100%" />
        <p class="text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem
          exercitationem ullam saepe, nobis recusandae adipisci necessitatibus
          dignissimos similique illo. Sint doloremque labore ducimus quisquam
          quas voluptatem obcaecati! Beatae aliquam harum, quas rerum tempore
          consequatur esse.
        </p>
      </div>
      <div class="col">
        <h3>Lorem ipsum dolor sit.</h3>
        <img src="/assets/recruit-feature.png" alt="特徴画像" width="100%" />
        <p class="text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem
          exercitationem ullam saepe, nobis recusandae adipisci necessitatibus
          dignissimos similique illo. Sint doloremque labore ducimus quisquam
          quas voluptatem obcaecati! Beatae aliquam harum, quas rerum tempore
          consequatur esse.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="future">
  <div class="container">
    <div class="row reverse">
      <div class="col">
        <h2>Lorem ipsum dolor sit amet consectetur.</h2>
        <p class="sub_title">Future</p>
        <p class="text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, ea
          iure nam rem architecto nemo. Aliquam iste tenetur ipsa saepe, sunt
          laborum soluta dolorum inventore nobis est, ea minus obcaecati
          consectetur sed neque nam fugiat quos qui cupiditate voluptatem quasi
          accusamus magni perferendis. Adipisci voluptatum beatae maiores iusto,
          voluptates, non praesentium earum laboriosam consectetur delectus,
          velit fugit. Nihil molestias, mollitia accusantium inventore soluta,
          minus, voluptas optio nulla laborum sunt quaerat tenetur? Ut, natus
          illum ab alias doloremque animi repudiandae optio. Hic non aut, vel
          earum assumenda, dicta exercitationem dolor reprehenderit modi
          distinctio nihil ex repudiandae tempore atque et explicabo natus.
        </p>
      </div>
      <div class="col">
        <img src="/assets/recruit-future.png" alt="展望画像" width="100%" />
      </div>
    </div>
  </div>
</section>
