<section class="page_main_visual">
  <div class="container">
    <div class="title">
      <h1>事業内容</h1>
      <p>- Service -</p>
    </div>
  </div>
  <div class="mask"></div>
</section>

<section class="service">
  <div class="container">
    <div class="row">
      <div class="col">
        <p class="heading">Feature 1</p>
        <h3>Lorem, ipsum dolor.</h3>
        <p class="text">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus
          sint voluptate placeat non sit vitae aliquid fuga autem delectus
          corrupti ut maiores ea illum velit vero, est, pariatur repellat
          explicabo!
        </p>
      </div>
      <div class="col">
        <img src="/assets/service.png" alt="Service画像" width="100%" />
      </div>
    </div>
    <div class="row reverse">
      <div class="col">
        <p class="heading">Feature 2</p>
        <h3>Lorem, ipsum dolor.</h3>
        <p class="text">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus
          sint voluptate placeat non sit vitae aliquid fuga autem delectus
          corrupti ut maiores ea illum velit vero, est, pariatur repellat
          explicabo!
        </p>
      </div>
      <div class="col">
        <img src="/assets/service.png" alt="Service画像" width="100%" />
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p class="heading">Feature 3</p>
        <h3>Lorem, ipsum dolor.</h3>
        <p class="text">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus
          sint voluptate placeat non sit vitae aliquid fuga autem delectus
          corrupti ut maiores ea illum velit vero, est, pariatur repellat
          explicabo!
        </p>
      </div>
      <div class="col">
        <img src="/assets/service.png" alt="Service画像" width="100%" />
      </div>
    </div>
  </div>
</section>

